* {
  margin: 0;
  padding: 0;
  background-color: #eeefee;
}

canvas {
  border: 3px solid black;
  float: left;
}

.server {

}

#host {
  border: 1px solid black;
  margin: 10px;
  width: 100px;
  height: 25px;
}

#con {
  border: 1px solid black;
  margin: 10px;
  width: 100px;
  height: 40px;
}

#conId {
  border: 1px solid black;
  margin: 10px;
  width: 300px;
  height: 25px;
  padding: 5px;
}

#scores {
  margin: 10px;
  font-family: monospace;
  font-weight: 750;
  display: inline;
}
